<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <style>
        .navbar .navbar-brand{
            font-size: 5px;
            text-align: center;
        }
        .container-fluid{
            display: flex;
            justify-content: center;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto"> 
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/tabla">Tabla De Multiplicar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cotizacion">Cotizacion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/alumnos">Alumnos</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</body>

</html>