<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilos-cotizacion.css">
    <title>Cotizacion</title>
    <style>
        body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    }
    
    header, nav, section, footer {
    padding: 20px;
    }
    
    #formulario {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: -30px;
    }
    
    form {
    display: flex;
    flex-direction: column;
    }
    
    label {
    margin-bottom: 10px;
    }
    
    input[type="number"], select {
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    }
    
    button {
    padding: 10px 20px;
    width: 200px;
    background-color: #0C2D57;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    }
    
    button:hover {
    background-color: rgb(5, 30, 57);
    }
    
    #cotizacion {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    h2 {
    margin-bottom: 10px;
    }
    
    .btns{
    border-radius: 15px;
    }
    
    .btn-container{
    display: inline;
    margin-top: 20px;
    justify-content: center;
    margin-left: 500px;
    }
    
    p {
    margin-bottom: 5px;
    }
    
    span {
    font-weight: bold;
    }
    
    footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    }
    </style>
</head>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilos-cotizacion.css">
    <title>Cotizacion</title>
    <style>
        body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    }
    
    header, nav, section, footer {
    padding: 20px;
    }
    
    #formulario {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: -30px;
    }
    
    form {
    display: flex;
    flex-direction: column;
    }
    
    label {
    margin-bottom: 10px;
    }
    
    input[type="number"], select {
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    }
    
    button {
    padding: 10px 20px;
    width: 200px;
    background-color: #0C2D57;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    }
    
    button:hover {
    background-color: rgb(5, 30, 57);
    }
    
    #cotizacion {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    h2 {
    margin-bottom: 10px;
    }
    
    .btns{
    border-radius: 15px;
    }
    
    .btn-container{
    display: inline;
    margin-top: 20px;
    justify-content: center;
    margin-left: 500px;
    }
    
    p {
    margin-bottom: 5px;
    }
    
    span {
    font-weight: bold;
    }
    
    footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    }
    </style>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <%- include('partials/nav.ejs') %>

    <section class="formulario-container" style="padding: 20px">
        <div id="formulario" class="container">
            <form action="/cotizacion" method="post" onsubmit="return validateForm()">
                <div class="form-group">
                    <label for="valor">Valor de automóvil</label>
                    <input type="number" class="form-control" name="valor" id="valor" value="<%=valor%>" required />
                </div>
                <div class="form-group">
                    <label for="pinicial">Porcentaje de Pago Inicial</label>
                    <input type="number" class="form-control" name="pinicial" id="pinicial" value="<%=pinicial%>" required />
                </div>
                <div class="form-group">
                    <label for="plazos">Plazos</label>
                    <select class="form-control" name="plazos" id="plazos">
                        <option value="12" <%= plazos === 12 ? 'selected' : '' %>>12 Meses</option>
                        <option value="24" <%= plazos === 24 ? 'selected' : '' %>>24 Meses</option>
                        <option value="36" <%= plazos === 36 ? 'selected' : '' %>>36 Meses</option>
                        <option value="48" <%= plazos === 48 ? 'selected' : '' %>>48 Meses</option>
                        <option value="60" <%= plazos === 60 ? 'selected' : '' %>>60 Meses</option>
                    </select>
                </div>
                <div class="buttons" style="margin: 20px 0px;">
                    <button type="submit" class="btn btn-primary">Calcular</button>
                    <a href="/cotizacion" class="btn btn-secondary">Limpiar</a>
                </div>
            </form>
        </div>
    </section>

    <section class="resultados-container">
        <div class="container">
            <h3>Resultados de la cotización</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Descripción</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (valor) { %>
                    <%
                    let pagoInicial = valor * (pinicial / 100);
                    let totalValor = valor - pagoInicial;
                    let mensualValor = (( valor - pagoInicial ) / plazos).toFixed(2);
                    %>
                    <tr>
                        <td>Pago Inicial</td>
                        <td>$<%=pagoInicial%></td>
                    </tr>
                    <tr>
                        <td>Total a Financiar</td>
                        <td>$<%=totalValor%></td>
                    </tr>
                    <tr>
                        <td>Pago Mensual</td>
                        <td>$<%=mensualValor%></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </section>
    <%- include('partials/footer.ejs') %>

    <script>
        function validateForm() {
            var percentageInput = document.getElementById('pinicial');
            var percentageValue = percentageInput.value;

            if (percentageValue < 0) {
                alert("El porcentaje no puede ser menor a 0");
                return false;
            } else if (percentageValue > 100) {
                alert("El porcentaje no puede ser mayor a 100");
                return false;
            } else {
                return true;
            }
        }
    </script>
</body>
</html>

    

    
